[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=app-${var.ENV}-rabbitmq.roboshop.internal
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{RABBITMQ_USER_PASSWORD}}
ExecStart=/home/roboshop/dispatch/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target