[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq-{{ENV}}.roboshop.internal
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS={{RABBITMQ_USER_PASSWORD}}
ExecStart=/home/roboshop/dispatch/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target