[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.roboshop.internal
Environment=CART_PORT= 80
Environment=DB_HOST={{RDS_ENDPOINT}}
ExecStart=/bin/java -Xms${MEM}m -Xmx${MEM}m -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target